<html>
	<head>
		<script src="/static/libs/jquery.js"></script>
		<script src="/static/libs/angular.min.js"></script>
		<script src="/static/libs/angular-ui-router.js"></script>

		<link href="/static/libs/bootstrap.css" rel="stylesheet">
		<script src="/static/libs/bootstrap.min.js"></script>
		
		<script src="/static/app/app.js"></script>
		<script src="/static/app/controller.js"></script>
		<style>
			body {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		{% block content %}
		{% endblock content %}
	</body>
</html>
