
<ol class="breadcrumb">
	<li class="active">Patient</li>
	<li class="active">{{user.firstname}} {{user.lastname}}</li>
	<li class="active">Rencontres</li>
</ol>

<table class="table table-bordered table-striped table-condensed">
	<thread>
		<tr>
			<th>Date</th>
			<th>Lieu rencontre</th>
			<th>Bénévole</th>
			<th>Service</th>
			<th></th>
		</tr>
	</thread>
	<tbody>
		<tr>
			<td>01/01/2010</td>
			<td>Maraude Gare du Nord</td>
			<td>Jeanne Dupond</td>
			<td>Rencontre maraude</td>
			<td><a ui-sref="user.meeting_maraude">Voir</a></td>
		</tr>
		<tr>
			<td>07/01/2010</td>
			<td>CASO Parmentier</td>
			<td>Emilie Dupont</td>
			<td>Assistance administrative</td>
			<td><a ui-sref="user.meeting_admin">Voir</a></td>
		</tr>
		<tr>
			<td>01/01/2010</td>
			<td>Maraude Gare du Nord</td>
			<td>Jeanne Dupond</td>
			<td>Rencontre maraude</td>
			<td><a ui-sref="user.meeting_maraude">Voir</a></td>
		</tr>
		<tr>
			<td>07/01/2010</td>
			<td>CASO Parmentier</td>
			<td>Emilie Dupont</td>
			<td>Assistance administrative</td>
			<td><a ui-sref="user.meeting_admin">Voir</a></td>
		</tr>
		<tr>
			<td>01/01/2010</td>
			<td>Maraude Gare du Nord</td>
			<td>Jeanne Dupond</td>
			<td>Rencontre maraude</td>
			<td><a ui-sref="user.meeting_maraude">Voir</a></td>
		</tr>
		<tr>
			<td>07/01/2010</td>
			<td>CASO Parmentier</td>
			<td>Emilie Dupont</td>
			<td>Assistance administrative</td>
			<td><a ui-sref="user.meeting_admin">Voir</a></td>
		</tr>
	</tbody>
</table>
