
<div class="row">
	<div class="col-xs-3">

		<a class="btn btn-default btn-sm" style="width:100%; margin-bottom: 20px" ui-sref="search">Revenir à la recherche</a>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title ng-scope">Indicators management</h4>
			</div>

			<div class="panel-collapse">
				<div class="list-group ng-scope">
					<a class="list-group-item" ui-sref="user.preview">Résumé</a>
					<a class="list-group-item" ui-sref="user.patient">Patient</a>
					<a class="list-group-item" ui-sref="user.meetings">Rencontres</a>
					<a class="list-group-item" ui-sref="user.merge">Consolider</a>
				</div>
			</div>
		</div>

	</div>

	<div class="col-xs-9" ui-view></div>
</div>
