
<ol class="breadcrumb">
	<li class="active">Patient</li>
	<li class="active">{{user.firstname}} {{user.lastname}}</li>
	<li class="active">Patient</li>
</ol>

<form class="form-horizontal">
	
	<h2>Identité</h2>

	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Pseudo</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="user.name" id="name" placeholder="">
		</div>
	</div>

	<div class="form-group">
		<label for="firstname" class="col-sm-2 control-label">Prénom</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="user.firstname" id="firstname" placeholder="">
		</div>
	</div>

	<div class="form-group">
		<label for="lastname" class="col-sm-2 control-label">Nom</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="user.lastname" id="lastname" placeholder="">
		</div>
	</div>

	<div class="form-group">
		<label for="birthyear" class="col-sm-2 control-label">Date de naissance</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" ng-model="user.birthyear" id="birthyear" placeholder="">
		</div>
	</div>

	<div class="form-group">
		<label for="nationality" class="col-sm-2 control-label">Nationalité</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="user.nationality" id="nationality" placeholder="">
		</div>
	</div>

	<div class="form-group">
		<label for="sexe" class="col-sm-2 control-label">Sexe</label>
		<div class="col-sm-10">
			<input type="radio" ng-model="user.sexe" value="M"> Masculin<br/>
			<input type="radio" ng-model="user.sexe" value="F"> Feminin<br/>
		</div>
	</div>

	<h2>Accès à la santé</h2>

	<div class="form-group">
		<label for="legalstatus" class="col-sm-2 control-label">Status légal</label>
		<div class="col-sm-10">
			<input type="radio" ng-model="user.legalstatus" value="no_need"> Pas besoin de titre<br/>
			<input type="radio" ng-model="user.legalstatus" value="need"> Sans autorisation de séjour<br/>
		</div>
	</div>


	<div class="form-group">
		<label for="secu" class="col-sm-2 control-label">CMU</label>
		<div class="col-sm-10">
			<input type="radio" ng-model="user.secu" value="yes"> Oui<br/>
			<input type="radio" ng-model="user.secu" value="no"> Non<br/>
		</div>
	</div>

	<button class="btn btn-primary" ng-click="save()">Sauvegarger</button>

</form>
