

<ol class="breadcrumb">
	<li class="active">Patient</li>
	<li class="active">{{user.firstname}} {{user.lastname}}</li>
	<li class="active">Résumé</li>
</ol>



<table class="table table-bordered table-striped">
	<tr>
		<td>Pseudo</td>
		<td></td>
	</tr>
	<tr>
		<td>Nom</td>
		<td>{{user.firstname}} {{user.lastname}}</td>
	</tr>
	<tr>
		<td>Année de naissance</td>
		<td>{{user.birthyear}} ({{2015 - user.birthyear}} ans)</td>
	</tr>
	<tr>
		<td>Number of meetings</td>
		<td></td>
	</tr>
	<tr>
		<td>Time since last visit</td>
		<td></td>
	</tr>
</table>

