
<ol class="breadcrumb">
	<li class="active">Patient</li>
	<li class="active">{{user.firstname}} {{user.lastname}}</li>
	<li class="active">Consolider</li>
</ol>


<table class="table table-bordered table-stripped">
	<thead>
		<tr>
			<th>Distance / Qualité</th>
			<th>Pseudo</th>
			<th>Prénom</th>
			<th>Nom</th>
			<th>Date de naissance</th>
			<th>Dernière visite</th>
			<th></th>
		</tr>
	</thead>
	<tr ng-if="results.length == 0">
		<td colspan="6">Aucun résultat trouvé</td>
	</tr>
	<tr ng-repeat="result in results">
		<th>{{result.score|number:0}} / {{result.quality|number:2}}</th>
		<td>{{result.user.name}}</td>
		<td>{{result.user.firstname}}</td>
		<td>{{result.user.lastname}}</td>
		<td>{{result.user.birthyear}}</td>
		<td></td>
		<td><a ui-sref="user.consolidate({otherId:result.user.user_id})">Consolider</a></td>
	</tr>
</table>
